nav {
	display: flex;
	justify-content: space-around;
	margin: auto;
	max-width: 1000px;
	color: white;
	font-size: 1rem;
	padding: 20px;
	animation: 0.25s fade-in ease-in-out;
}

a {
	color: white;
	text-decoration: none;
	transition: 200ms ease-in-out;
	padding: 1px 6px;
}

button {
	border: none;
	background-color: transparent;
	color: white;
	transition: 200ms ease-in-out;
	cursor: pointer;
}

a:hover,
button:hover {
	color: var(--light-blue);
}

.contact-container {
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: 0.75s fade-in ease-in-out;
}

.contact {
	display: flex;
	flex-direction: column;
	padding: 20px;
	z-index: 3;
	position: relative;
	animation: 1s fade-in ease-in-out;
}

.fade-out {
	animation: 500ms fade-out;
	opacity: 0;
}

.exit-contact {
	position: absolute;
	right: 2%;
}

form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

h1,
h2,
h3 {
	font-size: 1.5rem;
	color: white;
}

.who-am-i {
	padding: 80px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	animation: 0.75s fade-in ease-in-out;
}

.who-am-i > p {
	font-size: 1rem;
	max-width: 800px;
}

.skills {
	padding: 80px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	animation: 1.25s fade-in ease-in-out;
}

.skill-images {
	display: flex;
	justify-content: space-around;
}

.skill-images > :nth-child(1) {
	animation: 0.75s drop-down ease-in-out;
}
.skill-images > :nth-child(2) {
	animation: 1s drop-down ease-in-out;
}
.skill-images > :nth-child(3) {
	animation: 1.25s drop-down ease-in-out;
}

.projects {
	padding: 80px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	animation: 1.5s fade-in ease-in-out;
}

.img-skill {
	width: 100px;
	height: auto;
}
@keyframes hover-over {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes drop-down {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
